.glass-box {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0 8px 32px var(--color-shadow);
  backdrop-filter: blur(12px);
  z-index: 5;
  position: relative;
  overflow: hidden;
  transition: .3s ease-in-out;
}

.glass-box:hover {
  box-shadow: 0 0px 42px var(--color-shadow-hover);
  scale: 1.05;
  cursor: pointer;
}