body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

ul,
ol {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 80px;
}

ul,
ol li a {
  text-decoration: none;
  color: #fff;
}

li {
  font-size: 1.2rem;
}

li a {
  color: #ff6a00;
}

li a:hover {
  color: #ffaa33;

}
